
    body 
    {
      background-color: aliceblue;
    }
      .m{

            color: white;

      }
 
p{
    border-radius: 30px;
    opacity: 0.3px;
    color: #000;
}

.g{
background-color: rgb(10, 10, 77);
height: 30px;
padding-right: 100px;
text-align: right;

}
.bb{
 
 color: black;
 padding-top: 30px;
 padding-left: 30px;
 height: 30px;
 align-items: center;
justify-content: center;
}
 
ul{
padding: 0px;
text-align: left;
}

ul > li {
display: inline-block;
padding: 12px 20px;
font-size: 20px;
}
ul > li:hover {
background-color: rgb(10, 10, 77);
border-radius: 20px;

}

.aa{

    background: url(12/nursing-care.webp);
    width: 100%;
    padding-top: 8.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}
.c{
  color: white;
}
.s .h2{

  font-size: 40px;
   color: var rgb(10, 10, 77);
   padding-bottom: 1.5rem;

}

.xx{
 
  width: 280px;
  height: 250px;
  display: inline-block;
  border-radius: 20px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(12/nurs.webp);
  background-position: center;
  background-size: cover;
  font-size:20px;
  transition: transform 0.5s;

}
 .xx1{
 
  background-image: url(12/surgeon_214772131_250.jpg);

}
 .xx2{
 
  background-image: url(12/blood\ sugar.webp);


}
 .xx3{
 
 background-image: url(12/wound_care.jpg.webp);

}
.hh{

  color: black;
}
.xx:hover{
  
  transform: translateY(-10px);

}

.h{

    text-align: center;
    display: block;
    
}

    .zz{

      background-color: rgb(45, 128, 0);
      border-radius: 30px;
      padding-left: 10px;
      padding-top: 5px;
      width: 100px;
      text-align: left;
      color:white;
      opacity: 0.8;
     background-position: 20% 40%;


    }
    .container .main-text{
    width: 50%;
    position: absolute;
    top: 200px;
    padding: 0 2rem;
    text-align: center;
}
.container .main-text h2{
    font-size: 40px;
    color: var rgb(10, 10, 77);
    padding-bottom: 1.5rem;
}


    
    label{

        font-size: 20px;
    }
    label :hover{

        color: rgb(34, 34, 121);
    }
